*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 736px;
  margin: auto;
  min-height: fit-content;  }

body, input, textarea{
  font-family: 'Poppins', sans-serif;
 }


header{
  width: 736px;
  margin-top: 140px;
  width: 416px;
}

header h1{
  display: flex;
  flex-direction: column;
  gap: 18px;
  line-height: 60px;
  font-size: 48px;
  font-weight: 400;
  color: #FFFFFF;
}

header p{

padding-top:18px;
padding-bottom: 25px;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #FFFFFF;
}

body::before{
  content:'';
  position: absolute;
  width: 100%;
  height: 436px;
  background: #535971;
  z-index: -1;
  top: 0;
  left:0;
  }

body {
  background-color: #E5E5E5;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-left: 345px;

}



header h1, legend, .button{
font-family: 'Staatliches', cursive;
}

form{
width: 750px;
left: 345px;
top: 322px;
background: #FFFFFF;
border-radius: 20px 20px 0px 0px;
padding: 64px;
display: flex;
flex-direction: column;
gap: 32px;
min-height: 300px;
}

fieldset{
  border: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset legend {
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #535971;
border-bottom: 1px solid #E6E6F0;
}

.fieldset-wrapper legend{
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #535971;
border-bottom: 1px solid #E6E6F0;
}

.fieldset-wrapper label{
color: #535971;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}

.fieldset-wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #535971;
}

.input-wrapper input, .input-wrapper textarea, .input-wrapper select{
  height: 56px;
  width: 622px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  border: 1px solid #E6E6F0;
  background: #FAFAFC;
  border-radius: 8px;
  padding: 2px;
}
.col-3 input{
  max-width: 200px;
  height: 56px;
  width: 622px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #E6E6F0;
  background: #FAFAFC;
  border-radius: 8px;
  padding: 2px;
  display: flex;  
}

#user_first_name{
  max-width:300px; 
 }

#user_last_name{
  max-width:300px;
}
.inline{
  display: flex;
  gap: 22px;
}

span{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
color: #C1BCCC;
}

.col-3 {
  display: flex;
  max-width: 140px;
  gap: 20px;
  }

.col-3 > div:nth-child(1){
  display: flex;
  flex-direction: column;}
.col-3 > div:nth-child(2){
    display: flex;
    flex-direction: column;}
.col-3 > div:nth-child(3){
      display: flex;
      flex-direction: column;}


.footer {
bottom: 0;
width: 750px;
background: #535971;
height: 160px;
padding: 71px;
border-radius: 0px 0px 8px 8px; }


.button {
  width: 608px;
  height: 56px;
  background: #FF5374;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
 }
  
 .button:hover{
  background:  #fa325a;
}
      